<%- include('./layouts/header.ejs',{
    title: "blog: about us"
}) %>
<section class="about py-5">
<div class="container">
    <h2 class="col-sm-4 bg-light">About Us</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quam.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, consectetur!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quam.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, consectetur!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quam.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, consectetur!
    </p>
</div>
</section>
<%- include('./layouts/footer.ejs') %>