<%- include('./layouts/head',{
    title: "dashboard"
}) %>


<%- include('./layouts/backendTopNav') %>
<div id="layoutSidenav">
    <%- include('./layouts/backendSideNav') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h3 class="mt-4">Static Navigation</h3>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Static Navigation</li>
                </ol>
    
                <div class="border">
                    <h3>Dashboard content</h3>
                </div>
    
            </div>
        </main>
    
    </div>
</div>
<%- include('./layouts/backendJSScript') %>

